<ion-header>
  <ion-toolbar>
    <ion-title>Relatório de vendas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-item>
    <ion-label>
      Total vendido: R$: {{lucroTotal}}
    </ion-label>
  </ion-item>
  
  <ion-card *ngFor="let value of produtosVendidos">
    <ion-list>
      <ion-item>
        <ion-label>Nome do produto{{value.produtoNome}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Fornecedor: {{value.fornecedor}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Comprados: {{value.qtdComprada}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Preço da venda: {{value.valorVenda}}</ion-label>
      </ion-item>
    </ion-list >
  </ion-card>
</ion-content>
