<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-grid style="width: 80%">
    
    <ion-item>
      <ion-label position="floating">Nome </ion-label>
      <ion-input [(ngModel)]="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Sobrenome</ion-label>
      <ion-input [(ngModel)]="sobrenome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirmar Email</ion-label>
      <ion-input [(ngModel)]="confirmarEmail"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" [(ngModel)]="senha"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirmar senhar</ion-label>
      <ion-input type="password" [(ngModel)]="confirmarSenhar"></ion-input>
    </ion-item>
    
    <ion-button color="primary" expand="full" (click)="btnLogar()">Entrar</ion-button>
  </ion-grid>
  
</ion-content>
