<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary" end>
      <ion-button (click)="btnLogout()">
        <ion-icon slot="icon-only" name="md-exit"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Welcome Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Filter Pizza" (ionChange)="buscarProduto($event)" [debounce]="250"></ion-searchbar>
  <ion-list *ngFor="let produto of produtos">
    <ion-card>
      <ion-item>
        <ion-label>
          <h2>{{produto.prduto}}</h2>
          <p>{{produto.marca}}</p>
          <p>R$: {{produto.valor}}</p>
        </ion-label>
        <ion-note slot="end">
          <p>{{produto.qtd}}</p>
        </ion-note>
      </ion-item>
    </ion-card>
  </ion-list>
  
  
</ion-content>
