<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary" end>
      <ion-button (click)="btnLogout()">
        <ion-icon slot="icon-only" name="md-exit"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Welcome Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Gerenciar estoque</ion-label>
    <ion-button size="large" (click)="btnEstoque()"><ion-icon name="stats"></ion-icon></ion-button>
  </ion-item>
  
  <ion-item>
    <ion-label>Registrar venda</ion-label>
    <ion-button size="large" (click)="btnVenda()"><ion-icon name="pricetag"></ion-icon></ion-button>
  </ion-item>
  
  <ion-item>
    <ion-label>Minhas vendas</ion-label>
    <ion-button size="large" (click)="btnIrVendas()"><ion-icon name="clipboard"></ion-icon></ion-button>
  </ion-item>
</ion-content>
